.admin {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: rgb(250, 46, 46);
}
.bot {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: rgb(193, 193, 193);
}
.me {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: rgb(129, 221, 141);
}
.others {
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: rgb(147, 220, 246);
}
pre {
    position: relative;
}
span {
    word-wrap: break-word;
    white-space: initial;
}
textarea {
    resize: none; 
}
button {
    height: 10%;
    width: 30%;
    border-radius: 100px
}